/*for font family*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Comforter&family=Jomhuria&family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*apply to all elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "poppins", sans-serif;
}
/* start scroll behavior */
html {
  scroll-behavior: smooth;
}

body {
    background-color: #101010;
}
/* end scroll behavior */

/* make selection style*/
::selection {
  background-color: gray;
  color: black;
}
/* end selection style*/

/* Start adding scroll bars style */
::-webkit-scrollbar {
  background-color: rgb(221, 221, 221);
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background-color: #3498db;
  height: 20px;
}
/* The end of adding scroll bars style */

/* start main header from here */

header .headerContainer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
    padding: 0 100px;
    z-index: 99999;
    transition: 0.6s;
  }
  /* mylogo */
  .mylogo {
    filter: grayscale(80%);
  }
  
  header .headerContainer nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
  }
  
  header .headerContainer nav ul li a {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 17px;
    font-weight: 600;
  }
  
  header .headerContainer nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 3px;
    background: #1d779e;
    transition: 0.5s;
  }
  
  header .headerContainer nav ul li a:hover::before {
    width: 100%;
  }
  
  header .headerContainer nav ul li a:hover {
    color: grey;
  }
  
  @media screen and (max-width: 1115px) {
    header .headerContainer {
      padding: 0 30px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .burger span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: gray;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
    }
    .burger {
      cursor: pointer;
    }
    header .headerContainer nav ul {
      position: fixed;
      background-color: black;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      transform: translateY(-100%);
      transition: 0.8s;
    }
    header .headerContainer nav ul li {
      display: block;
    }
    .burgerActive {
      transform: translateX(0%) !important;
    }
    header .headerContainer .logo img {
      width: 180px;
    }
  }

/* end header here */



/* styling introduction from here */

:root {
  --color: rgb(27, 132, 230);
}

#about .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}
#about .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}
#about .container .grid .left img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 20px;
}
#about .container .grid .right > * {
  margin-bottom: 1.1rem;
  color: #d9d9d9;
}
#about .container .grid .right h4 {
  font-weight: 500;
  background: var(--color);
  display: inline-block;
  padding: 5px 15px;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  animation: cta 3s linear infinite;
}
@keyframes cta {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
#about .container .grid .right h4:hover {
  transform: scale(1.3);
}
#about .container .grid .right h2 {
  font-size: 2rem;
  font-weight: 800;
}
#about .container .grid .right h2 span {
  color: #007ea7;
}
#about .container .grid .right p {
  text-align: justify;
  font-size: 12pt;
  line-height: 23px;
  font-weight: bold;
}
#about .container .grid .lbtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border: solid 2px var(--color);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s;
}

#about .container .grid .lbtn:hover {
  color: black;
  background-color: gray;
  border-color: transparent;
}

#about .container .grid .lbtn::before {
  content: "";
  background: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: width 0.5s ease;
}
#about .container .grid .lbtn:hover::after {
  width: 100%;
}
@media (max-width: 768px) {
  #about .container .grid {
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
  #about .container {
    margin-bottom: 50px;
  }
  
}

/* end styling introduction here */

main {
  padding: 40px 0;
  background-color: #101010;
}

/* start quiz  */
.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
  width: 100%;
}

.quiz {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .quiz {
    width: 95%;
  }
}

.quiz h2 {
  color: #0750bd;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

input[type="radio"] {
  display: none;
}

.quiz label {
    position: relative;
    color: white;
    text-transform: capitalize;
    font-size: 24px;
    border: 2px solid #2c2c3c;
    border-radius: 5px;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.quiz label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #49496a;
    border-radius: 50%;
    margin-right: 50px;
    left: 10px;
}

.quiz .choices {
    box-shadow: 13px 12px 9px 1px #2c2c3c;
    padding: 10px 10px 2px 10px;
    margin-bottom: 25px;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-radius: 15px;
}

input[type="radio"]:checked + label {
  background-color: #01cc65;
  color: white;
}

input[type="radio"]:checked + label::before {
  width: 16px;
  height: 16px;
  border: 10px solid white;
  background-color: #01cc65;
}

@media screen and (max-width: 650px) {
    .quiz h2 {
        font-size: 24px;
    }
}

/* end quiz here */

/* start show button from here */

.answerBtn {
  text-align: end;
  margin: 20px 0;
}

.answerBtn button {
  position: relative;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0;
  width: 160px;
  border: none;
  cursor: pointer;
  color: #3498db;
  background-color: black;
  transition: all 0.6s;
}

.answerBtn button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  right: 0;
  top: -2px;
  background-color: grey;
  transition: width 0.6s;
}

.answerBtn button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: grey;
  transition: width 0.6s;
}

.answerBtn button:hover {
  background-color: rgb(3, 85, 3);
  color: white;
}
.answerBtn button:hover::after {
  width: 100%;
}
.answerBtn button:hover::before {
  width: 100%;
}

/* end show button here */

/* fix show the answer */

.answer {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: gray;
  overflow: hidden;
  margin-bottom: 50px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0;
  transition: transform 0.7s ease, max-height 0.5s ease, opacity 0.7s ease;
}

.answer .choiceAnswer {
  padding: 20px;
  background-color: white;
}

.answer .choiceAnswer p {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  border: 2px solid green;
  background-color: lightgreen;
}

.answer .choiceAnswer span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.answer .explain {
  padding: 20px;
  background-color: white;
}

.answer .explain p {
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid blue;
  padding: 10px;
}

/* end answer here*/

/* start submit button */

.submit {
  text-align: center;
}

.submit button {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    background-color: #007ea7;
    cursor: pointer;
    color: white;
    z-index: 2;
    overflow: hidden;
    border: 3px solid white;
    transition: all 0.4s;
}

.submit button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    z-index: -2;
    background-color: #2c2c3c;
    transition: width 0.4s;
}

.submit button:hover::before {
    width: 100%;
}

.submit button:hover {
    border-color: transparent;
}


/* end submit button */


/* Footer section */
footer {
    position: relative;
    bottom: 0px;
    color: white;
    width: 100%;
    background: #007ea7;
  }
  footer .main-content {
    display: flex;
  }
  footer .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  footer .main-content .box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  footer .main-content .box .content {
    margin: 20px 0 0 0;
    position: relative;
  }
  footer .main-content .box .content:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 4px;
    width: 100%;
    background: #1a1a1a;
  }
  footer .main-content .box .content:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 15%;
    background: #f6f6f6;
    top: -10px;
  }
  footer .main-content .box.content {
    margin-top: 10px;
  }
  footer .main-content .left .content p {
    width: 360px;
    padding-top: 14px;
    font-size: 13pt;
    font-weight: 600;
    color: #d9d9d9;
  }
  
  footer .main-content .left .content .social {
    margin: 20px 0 0 0;
  }
  footer .main-content .left .content .social a {
    padding: 0 2px;
    color: white;
  }
  footer .main-content .left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  footer .main-content .left .content .social a span:hover {
    background: rgb(27, 132, 230);
  }
  footer .main-content .center .content {
    padding-top: 12px;
  }
  footer .main-content .center .content span {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  footer .main-content .center .content span:hover {
    background: rgb(27, 132, 230);
  }
  footer .main-content .center .content .text {
    font-size: 13pt;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 8px;
    padding-left: 10px;
    color: #d9d9d9;
  }
  footer .main-content .center .content .phone {
    margin: 15px 0;
  }
  footer .main-content .right form {
    padding-top: 20px;
  }
  footer .main-content .right form label {
    font-size: 13pt;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d9d9d9;
  }
  
  .right form input {
    width: 100%;
    font-size: 1.0625rem;
    padding: 15px;
    margin-bottom: 7px;
    border: 1px solid #222222;
    border-radius: 5px;
  }
  
  .right form input {
    height: 45px;
  }
  .right form .btn {
    margin-top: 10px;
    width: 100%;
  }
  
  .right form .btn button {
    height: 40px;
  
    border: none;
    outline: none;
    background: rgb(218, 218, 221);
    color: #000;
    font-size: 16pt;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    width: 100%;
  }
  footer .main-content .right form .btn button:hover {
    background: rgb(51, 50, 50);
    color: white;
  }
  footer .main-content .bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  footer .main-content .bottom center span {
    color: #656565;
  }
  
  footer .main-content .bottom center a:hover {
    text-decoration: underline;
  }
  /* copyright section */
  .copyright {
    height: 70px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copyright .copy {
    font-size: 14pt;
  }
  .copyright .brand,
  .copyright b {
    font-size: 15pt;
    color: rgb(9, 119, 209);
    text-transform: uppercase;
    font-weight: bold;
  }
  .copyright .right {
    font-size: 13pt;
    text-transform: capitalize;
    color: #f6f6f6;
    font-weight: bold;
  }
  @media screen and (max-width: 900px) {
    footer {
      position: relative;
      bottom: 0px;
    }
    .main-content {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box {
      margin: 5px 0;
    }
  }
  /* end footer */


/*To Top arrow*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999999999999999999;
    border: none;
    outline: none;
    background-color: rgb(14, 18, 236);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.5s;
  }
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  /* making some animation on scrolling button */
  
  .buttonDown {
    animation-name: buttonDown;
    animation-duration: 0.4s;
  }
  
  @keyframes buttonDown {
    from {
      bottom:  60px;
    }
    to {
      bottom: 20px;
    }
  }

/* end to the top arrow*/

/* preloader */
.loader{
  background: rgb(0, 0, 0);
  color: #fff;
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999;
}
.cssload-preloader {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
	position: absolute;
	height: 26px;
	top: 50%;
	left: 50%;
	margin: -13px 0 0 -131px;
	perspective: 175px;
		-o-perspective: 175px;
		-ms-perspective: 175px;
		-webkit-perspective: 175px;
		-moz-perspective: 175px;
}

.cssload-preloader .cssload-preloader-box > div {
	position: relative;
	width: 26px;
	height: 26px;
	background: rgb(204,204,204);
	float: left;
	text-align: center;
	line-height: 26px;
	font-family: Verdana;
	font-size: 17px;
	color: rgb(255,255,255);
}.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 0ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 0ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 0ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 0ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 120ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 120ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 120ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 120ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 120ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 240ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 240ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 240ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 240ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 240ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 360ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 360ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 360ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 360ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 360ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 480ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 480ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 480ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 480ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 480ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 600ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 600ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 600ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 600ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 600ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 720ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 720ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 720ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 720ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 720ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(8) {
	background: rgb(51,102,255);
	margin-right: 13px;
	animation: cssload-movement 960ms ease 840ms infinite alternate;
		-o-animation: cssload-movement 960ms ease 840ms infinite alternate;
		-ms-animation: cssload-movement 960ms ease 840ms infinite alternate;
		-webkit-animation: cssload-movement 960ms ease 840ms infinite alternate;
		-moz-animation: cssload-movement 960ms ease 840ms infinite alternate;
}


@keyframes cssload-movement {
	from {
		transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		transform: scale(1.5) translateY(-22px) rotateX(45deg);
		box-shadow: 0 22px 35px rgb(51,102,255);
		background: rgb(51,102,255);
	}
}

@-o-keyframes cssload-movement {
	from {
		-o-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-o-transform: scale(1.5) translateY(-22px) rotateX(45deg);
		box-shadow: 0 22px 35px rgb(51,102,255);
		background: rgb(51,102,255);
	}
}

@-ms-keyframes cssload-movement {
	from {
		-ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-ms-transform: scale(1.5) translateY(-22px) rotateX(45deg);
		box-shadow: 0 22px 35px rgb(51,102,255);
		background: rgb(51,102,255);
	}
}

@-webkit-keyframes cssload-movement {
	from {
		-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-webkit-transform: scale(1.5) translateY(-22px) rotateX(45deg);
		box-shadow: 0 22px 35px rgb(51,102,255);
		background: rgb(51,102,255);
	}
}

@-moz-keyframes cssload-movement {
	from {
		-moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-moz-transform: scale(1.5) translateY(-22px) rotateX(45deg);
		box-shadow: 0 22px 35px rgb(51,102,255);
		background: rgb(51,102,255);
	}
}